* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #F5F4F1;
  color: #1A1918;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
